<div class="content">

    <div class="container imageholder">
        <img src="assets/images/chefburger.jpg" alt="burger pic" id="burger">
    </div>


    <div class="section stuff">
        <div class="level">
            <div class="level-left">
                <ul>

                    {{#each burger}}
                    {{#unless this.devoured}}
                    <li>
                        {{!-- <div class="level">
            <div class="level=item burgers-here"> --}}

                        <p> {{ this.burger_name }}</p>

                        <button data-burgerid="{{this.id}}" class="devoured">Devour Now?</button>
                        {{!-- </div> --}}
                        {{!-- <div class="level=item devoured">


                </div> --}}
                        {{!-- </div> --}}
                    </li>

                    {{/unless }}
                    {{/each}}
                </ul>
            </div>

            <div class="level-right">
                <ul>
                    {{#each burger}}
                    {{#if this.devoured}}
                    <li>
                        <p>
                            {{this.burger_name}} Was Devoured
                        </p>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>

        </div>


    </div>
</div>
<div class = "content">
<div class="container">
    <div class="row">
        
        <div class="col-8">
            <form action="/" method="POST">
                <h1>What kind of Burger do you want?</h1>
                <input type="text" id="burger_name">
                <button class="button is-normal" id="add-burger">Add a burger</button>
                <button class = "button is-normal" id = "deleteburger">Delete All the burgers!!!</button>
            </form>
            
        </div>
     
    </div>


</div>
</div>

</div>
</div>